.App-header {
    background-color: white;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Vertically center align items */
    position: relative; /* Make the header a positioning context for absolute positioning */
}

.App-title {
    text-align: center;
    font-size: 56px;
    margin: 0 auto; /* Horizontally center the title */
}

.ACEP-logo {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
}
 
.GH-logo {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 30px; /* Adjust as needed */
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}