.App {
  text-align: left; /* Center align the text content of the App component */
}

.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center content horizontally and vertically */
  padding: 20px;
  position: relative; /* Make the header a positioning context for absolute positioning */
}

.App-title {
  text-align: center;
  margin-top: 10px; /* Adjust spacing between title and logo */
}

.App-logo {
  position: absolute;
  top: 10px;
  right: 20px;
}
