.App {
  text-align: left;
}

.App-header {
  background-color: white;
  min-height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.App-title {
  text-align: center;
  margin: 0;
}

.App-logo {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}

@media (max-width: 800px) {
  .App-header {
    flex-direction: column;
  }
}
