.App {
  text-align: center;
}

.App-logo {
  position: absolute; /* Position the image absolutely */
  top: 10px; /* Adjust top distance as needed */
  right: 10px; /* Adjust right distance as needed */
}

.App-title {
  color: black;
  margin-top: 20px; /* Adjust the top margin as needed */
}

/* Style for the button */
.App-button {
  background-color: #007bff; /* Blue color, you can change it as needed */
  color: white;
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; /* Adjust the top margin as needed */
}

.App-button:hover {
  background-color: #0056b3; /* Darker blue on hover, you can change it as needed */
}

.App-header {
  background-color: white; /* Change to white */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /* Adjust text color if needed */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
